wheel
numpy~=2.1.3
portilooplot~=0.0.4
ipywidgets~=8.1.7
python-periphery
scipy~=1.15.3
matplotlib~=3.10.3
gradio~=5.30.0
tensorflow~=2.19.0
pyxdf~=1.17.0
wonambi~=7.15

portiloop~=0.0.1
psutil~=7.0.0
nicegui~=2.20.0
ipython~=9.2.0
setuptools~=80.8.0
pyalsaaudio~=0.11.0
