[Unit]
Description=Jupyter Notebook Server
After=create_ap.service
After=hostapd.service
After=dnsmasq.service

[Service]
Type=simple
ExecStart=/home/mendel/miniforge3/bin/conda run -n portiloop jupyter notebook --no-browser --ip 192.168.4.1 --port 8080 --notebook-dir=/home/mendel
User=mendel
Group=mendel
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
